body {
	background-color: rgb(141, 192, 192);
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}

.other-movie-container{
	width: 100%;
	text-align: center;
	margin: 40px;
}
h2{
	font-size: 50px;
}
#container-movie{
	align-content: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
}


.card-img-top{
	width: 300px;
	height: 443.98px;
}

.card{
	width: fit-content;
	margin-top: 10px;
	background-color: #50524F
}
#containter{
	width: 100%;
	margin: auto
}

.row{
	width: 100%:
}